.container {
  overflow: hidden;
  position: absolute;
  top: -1.8rem;
  width: 90%;
  margin-inline: 5%;
  transition: all 150ms ease-in-out 0s;
  background-color: #2223;
  border-radius: .3rem;
}

.container p {
  margin-top: 0.2rem;
}